extends layout

block content
  style.
    .list-group-item:hover {
      color: #ffffff !important;
    }

  .hero-section.bg-dark.text-light.py-3.py-md-5
    .container-fluid.text-center
      .row.justify-content-center.align-items-center.min-vh-75
        .col-md-10.col-lg-8
          h1.display-4.mb-3.mb-md-4.text-uppercase.text-shadow.text-light Welcome to Task Manager
          p.lead.mb-3.mb-md-4 A cutting-edge platform for efficient task management.
          a.btn.btn-primary.btn-lg(href="/tasks") Get Started

  .container-fluid.py-5
    .row.justify-content-center.mt-5
      .col-lg-8
        .card.bg-light.shadow-sm.mb-4
          .card-body
            h2.card-title.mb-4.text-center.text-dark Our Mission
            p.card-text.text-center.text-dark Our mission is to revolutionize task management and productivity by providing a seamless and intuitive platform.

    .row.justify-content-center.mt-5
      .col-lg-4
        .card.bg-info.text-light.shadow-sm.mb-4
          .card-body
            h2.card-title.mb-4.text-center.text-light Key Features
            ul.list-group.list-group-flush
              li.list-group-item.bg-transparent.text-dark Easy Task Creation
              li.list-group-item.bg-transparent.text-dark Priority Management
              li.list-group-item.bg-transparent.text-dark Deadline Tracking
              li.list-group-item.bg-transparent.text-dark Team Collaboration
              li.list-group-item.bg-transparent.text-dark Real-time Updates
              li.list-group-item.bg-transparent.text-dark Customizable Workflows
              li.list-group-item.bg-transparent.text-dark Time Tracking
              li.list-group-item.bg-transparent.text-dark File Attachments
              li.list-group-item.bg-transparent.text-dark Mobile App Integration

      .col-lg-4
        .card.bg-success.text-dark.shadow-sm.mb-4
          .card-body
            h2.card-title.mb-4.text-center.text-dark Meet the Team
            ul.list-group.list-group-flush
              li.list-group-item.bg-transparent.text-dark Shrey Patel - Founder & CEO
              li.list-group-item.bg-transparent.text-dark Khushdeep Kaur Chilotra - Marketing
              li.list-group-item.bg-transparent.text-dark Harsh Dhakecha - Lead Developer
              li.list-group-item.bg-transparent.text-dark Krushil Dhameliya - Data Analyst
              li.list-group-item.bg-transparent.text-dark Dharm Joshi - Junior Developer

    .row.justify-content-center.mt-5
      .col-lg-8
        .card.bg-dark.text-light.shadow-sm.mb-4
          .card-body
            h2.card-title.mb-4.text-center.text-light Contact Us
            p.card-text.mb-0.text-center If you have any questions or feedback, please email us at shreypatel071003@gmail.com. We'd love to hear from you!
            p.card-text.mb-0.text-center You can also contact dhakechaharsh1@gmail.com if you don't get a reply from the previous mail within 5 business days!
